#logo{
    height:200%;
    width:10%;
    border:2px solid black;
    /* background-image:url("logo.png");
    background-size: cover;
    background-position: center; */
    background-color:red;
}
#menu-bar{
    height:50%;
    width:100%;
    gap: 30px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left:15%;
}
#nav{
    height:100%;
    width:70%;
}
#sign-in{
    height:100%;
    width:20%;
    border-radius:25px;
    overflow:hidden;
}
#banner{
    height:50%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    object-fit:cover;
    
}