*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x:hidden;
}
html,body{
    height:100%;
    width:100%;
}
#main{

}
#page1{
    height:100%;
    width:100%;
}
#menu-bar{
    height:50%;
    width:100%;
    gap: 30px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left:20%;
}
#logo{
    height:100%;
    width:10%;
    border:2px solid black;
    background-image:url("logo.png");
    background-size: cover;
    background-position: center;
}
#nav{
    height:100%;
    width:60%;
}
#sign-in{
    height:100%;
    width:auto;
    border-radius:25px;
    overflow:hidden;
    margin-right:20%;
}
#banner{
    overflow-y:hidden;
}
#page2{
    height:100%;
    width:100%;

}
#feat-art{
    height:30%;
    width:100%;
    margin-top:80px;
    margin-bottom:40px;
    border-right:none;
    border-left:none;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:25px;
    border:2px solid black;
    
}
.card{
    height:30%;
    width:100%;
    border:;
}