
.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y:hidden;
  }
  
  .slick-slide img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    overflow-y:hidden;
  }