#footer-style{
    height:100%;
    width:100%;
    padding-top:2%;
    
}
.card-text-center{
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.card-header{
    height:30%;
    width:100%;
    font-size:30px;
    padding-bottom:2%;
    letter-spacing:1px;
    word-spacing:5px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:2%;
}
#maker-name{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}
#maker-name h5{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5%;

}